body.red.lighten-5 {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background: #da5252;
}

html::-webkit-scrollbar-track {
    background: rgba(255, 235, 238, 0)
}

.carousel-item img {
    height: 500px !important;
}

.carousel.carousel-slider {
    height: 500px;
}

.hanan-color {
    background-color: #ee6e73 !important;
}

.hanan-text {
    color: #ee6e73 !important;
}

.small-text {
    font-size: 1.2rem !important;
}

.bigger-text {
    font-size: 1.2rem !important;
}