body.red.lighten-5 {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background: #da5252;
}

html::-webkit-scrollbar-track {
    background: rgba(255, 235, 238, 0)
}

.carousel-item img {
    height: 500px !important;
}

.carousel.carousel-slider {
    height: 500px;
}

.hanan-color {
    background-color: #ee6e73 !important;
}

.hanan-text {
    color: #ee6e73 !important;
}

.small-text {
    font-size: 1.2rem !important;
}

.bigger-text {
    font-size: 1.2rem !important;
}

ul.staff-card li {
    height: 25px;
    line-height: 25px;
    /* font-size: 24px; */
}

ul.regulation-list li {
    font-size: 18px;
}

ul.contact li {
    font-size: 1.2rem;
}

ul.countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 0.5em;
    margin: 1rem;
    text-transform: uppercase;
    border: 5px solid #da5252;
    width: 170px;
    border-radius: 22px;
}

ul.countdown li span {
    text-shadow: 0px 0px 3px #000000;
    display: block;
    font-size: 5rem;
}
